/* Some default table properties */
table {
	text-align: left;
	font-size: 12px;
	font-family: verdana;
	border-collapse: collapse;
}

table thead  {
	cursor: pointer;
}

table thead tr,
table tfoot tr,
table thead tr th{
	background: #171717;
	color: #C5BCAC;
}

table tbody tr {
	background: #0A0A0A;
}

td {
	border-left: none;
	border-right: none;
	border-top: 1px solid #35354F;
	border-bottom: none;
	padding-right: 15px;
	white-space: nowrap;
}

body {
	background-color: black;
	color: white;
}


/* Default style for links */
a {
	text-decoration:none;
	color: #557FAA;
}

/*******************************
 *         Main 'frame'        *
 *******************************/
#main_frame {
	position: absolute;
	left: 180px;
	top: 55px;
	z-index: 9999;
}

legend {
	color: #EFFFEF;
	font-family: verdana;
	font-size: 12px;
}

/* Highlighting for the sortable table */
.highlight { background-color: #222245 }
.normal {
	background-color:#0A0A0A;
	cursor:pointer;
}

/* Attendance */
.high_attendance { color:#00FF00; }
.medium_attendance { color:yellow; }
.low_attendance { color:red; }

/* Loot */
.loot { color:violet; }
.no_loot { color:red; }

/* Other columns */
.member_name { color: #557FAA; }
.rank { color: #EFFFEF; }

/* Alert */
.alert { background-color: #990000; }
.alert a { 
	color: silver;
	text-decoration: line-through;
}

/*******************************
 *        Navigation bar       *
 *******************************/
#navbar {
	position: absolute;
	left: 10;
	top: 55px;
	z-index: 9999;
}

/* Links */
#navbar a { color: #CC3333; }

/*******************************
 *        Title bar            *
 *******************************/
#topbar {
	position: absolute;
	left: 10px;
	top: 0;
	z-index: 9999;
}

/* Title */
#topbar a {
	font-family: Arial;
	font-weight: bold;
	color: #545494;
	font-size: 24px;
}

/*******************************
 *        Raid Details         *
 *******************************/
#rdraidsummary {
	position: absolute;
	left: 10px;
	top: 0;
	z-index: 9999;
}

#rdepicsdropped {
	position: absolute;
	left: 240px;
	top: 0;
	z-index: 9999;
}

#rddetails {
	position: absolute;
	left: 10px;
	top: 120px;
	z-index: 9999;
	/*width: 800px;*/
}
/*display:inline
/*
#rdlootdetails {
	position: absolute;
	left: 10px;
	top: 200px;
	z-index: 9999;
}

#rdattendancedetails {
	position: absolute;
	left: 10px;
	top: 400px;
	z-index: 9999;
}
*/
